.cards{
    background-color: lightblue;
    border: 1px solid navajowhite;
    width: 25%;
    margin: 2%;
    padding: 2%;
    height: 150px;
    float: left;
    text-decoration: none;
}
button{
    color: white;
    border-radius: 5px;
    background-color: tomato;
}
@media only screen and (max-width: 768px){
    [class*="col-"] {
        width: 100%;
      }
  }