
.textsection{
    
    padding: 5%;
   
}

/* #leagueInfo{
    background-color: rebeccapurple;
    padding: 5%;
    width: 70%;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2%;
    border-radius: 20px;
}
#container{
    background-color: rebeccapurple;
} */